URL:https://github.com/alexeygrigorev/mlbookcamp-code/blob/master/course-zoomcamp/cohorts/2022/03-classification/homework.md

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [3]:
df = pd.read_csv('Datasets/housing.csv')

In [4]:
df.head()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,-122.23,37.88,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,-122.22,37.86,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,-122.24,37.85,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,-122.25,37.85,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,-122.25,37.85,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [65]:
columns = ['latitude','longitude','housing_median_age','total_rooms','total_bedrooms','population','households','median_income',
'median_house_value','ocean_proximity']

In [6]:
df = df[columns]

In [7]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [9]:
df.isnull().sum()

latitude                0
longitude               0
housing_median_age      0
total_rooms             0
total_bedrooms        207
population              0
households              0
median_income           0
median_house_value      0
ocean_proximity         0
dtype: int64

In [11]:
df.bedrooms = df.total_bedrooms.fillna(0)
df.head()

<ipython-input-11-684735751a1a>:1: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.bedrooms = df.total_bedrooms.fillna(0)

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY

In [12]:
df['rooms_per_household'] = df['total_rooms']/df['households']
df['bedrooms_per_room'] = df['total_bedrooms']/df['total_rooms']
df['population_per_household'] = df['population']/df['households']
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467

# Question 1

In [13]:
df.ocean_proximity.mode()

0    <1H OCEAN
dtype: object

### Answer:  <1H OCEAN

In [14]:
from sklearn.model_selection import train_test_split
np.random

In [76]:
df_full_train, df_test = train_test_split(df, test_size=0.2, random_state=42)

In [77]:
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=42)

In [78]:
df_train.shape, df_val.shape, df_test.shape

((12384, 13), (4128, 13), (4128, 13))

In [79]:
y_train = df_train.median_house_value
y_val = df_val.median_house_value
y_test = df_test.median_house_value

In [80]:
del df_train['median_house_value']
del df_val['median_house_value']
del df_test['median_house_value']

# Question 2

In [23]:
df_train.corr()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,rooms_per_household,bedrooms_per_room,population_per_household
latitude,1.000000,-0.925005,0.002477,-0.025914,-0.059730,-0.100272,-0.063529,-0.076805,0.119118,-0.124507,-0.002301
longitude,-0.925005,1.000000,-0.099812,0.036449,0.063840,0.091670,0.049762,-0.016426,-0.034814,0.102320,0.011022
housing_median_age,0.002477,-0.099812,1.000000,-0.363522,-0.324156,-0.292476,-0.306119,-0.119591,-0.181275,0.129456,0.012167
total_rooms,-0.025914,0.036449,-0.363522,1.000000,0.931546,0.853219,0.921441,0.198951,0.168926,-0.194185,-0.029452
total_bedrooms,-0.059730,0.063840,-0.324156,0.931546,1.000000,0.877340,0.979399,-0.009833,0.010381,0.078094,-0.034301
population,-0.100272,0.091670,-0.292476,0.853219,0.877340,1.000000,0.906841,-0.000849,-0.076210,0.031592,0.064998
households,-0.063529,0.049762,-0.306119,0.921441,0.979399,0.906841,1.000000,0.011925,-0.085832,0.058004,-0.032522
median_income,-0.076805,-0.016426,-0.119591,0.198951,-0.009833,-0.000849,0.011925,1.000000,0.394154,-0.616617,-0.000454
rooms_per_household,0.119118,-0.034814,-0.181275,0.168926,0.010381,-0.076210,-0.085832,0.394154,1.000000,-0.500589,0.001801
bedrooms_per_room,-0.124507,0.102320,0.129456,-0.194185,0.078094,0.031592,0.058004,-0.616617,-0.500589,1.000000,-0.002851
population_per_household,-0.002301,0.011022,0.012167,-0.029452,-0.034301,0.064998,-0.032522,-0.000454,0.001801,-0.002851,1.000000

### Answer : total_bedrooms and households

In [27]:
above_average = (y_train > np.mean(y_train)).astype('int')

# Question 3

In [29]:
df_train.dtypes == 'object'

latitude                    False
longitude                   False
housing_median_age          False
total_rooms                 False
total_bedrooms              False
population                  False
households                  False
median_income               False
ocean_proximity              True
rooms_per_household         False
bedrooms_per_room           False
population_per_household    False
dtype: bool

In [30]:
df.head()

,latitude,longitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,ocean_proximity,rooms_per_household,bedrooms_per_room,population_per_household
0,37.88,-122.23,41.0,880.0,129.0,322.0,126.0,8.3252,452600.0,NEAR BAY,6.984127,0.146591,2.555556
1,37.86,-122.22,21.0,7099.0,1106.0,2401.0,1138.0,8.3014,358500.0,NEAR BAY,6.238137,0.155797,2.109842
2,37.85,-122.24,52.0,1467.0,190.0,496.0,177.0,7.2574,352100.0,NEAR BAY,8.288136,0.129516,2.802260
3,37.85,-122.25,52.0,1274.0,235.0,558.0,219.0,5.6431,341300.0,NEAR BAY,5.817352,0.184458,2.547945
4,37.85,-122.25,52.0,1627.0,280.0,565.0,259.0,3.8462,342200.0,NEAR BAY,6.281853,0.172096,2.181467

In [31]:
categorical_columns = ['ocean_proximity']

In [33]:
from sklearn.metrics import mutual_info_score

for column in categorical_columns:
    print(column, ':', round(mutual_info_score(above_average, df_train[column]), 2))

ocean_proximity : 0.1

In [37]:
round(mutual_info_score((df_full_train.median_house_value > np.mean(df_full_train.median_house_value)).astype('int'), df_full_train['ocean_proximity']), 2)

0.1

### Answer: 0.10

In [70]:
columns.remove('median_house_value')

ValueError: list.remove(x): x not in list

In [81]:
train_dicts = df_train[columns].to_dict(orient='records')
train_dicts[0]

{'latitude': 34.43,
 'longitude': -119.67,
 'housing_median_age': 39.0,
 'total_rooms': 1467.0,
 'total_bedrooms': 381.0,
 'population': 1404.0,
 'households': 374.0,
 'median_income': 2.3681,
 'ocean_proximity': '<1H OCEAN'}

In [82]:
val_dicts = df_val[columns].to_dict(orient='records')
val_dicts[0]

{'latitude': 36.74,
 'longitude': -119.85,
 'housing_median_age': 35.0,
 'total_rooms': 1191.0,
 'total_bedrooms': 190.0,
 'population': 537.0,
 'households': 182.0,
 'median_income': 3.5375,
 'ocean_proximity': 'INLAND'}

In [83]:
from sklearn.feature_extraction import DictVectorizer
dv = DictVectorizer(sparse=False)
X_train = dv.fit_transform(train_dicts)
X_val = dv.fit_transform(val_dicts)

In [84]:
from sklearn.linear_model import LogisticRegression

In [85]:
model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)

In [86]:
above_average_train = (y_train > np.mean(y_train)).astype('int')
above_average_val = (y_val > np.mean(y_val)).astype('int')
above_average_test = (y_test > np.mean(y_test)).astype('int')

In [87]:
model.fit(X_train, above_average_train)

LogisticRegression(max_iter=1000, random_state=42, solver='liblinear')

In [88]:
y_pred = model.predict(X_val)

In [89]:
round((y_pred == above_average_val).mean(), 2)

0.84

In [90]:
(y_pred == above_average_val).mean()

0.8364825581395349

### Answer: 0.84

# Question 5

In [67]:
temp_columns = columns.copy()

In [91]:
for column in columns:
    temp_columns = columns.copy()
    temp_columns.remove(column)
    train_dicts = df_train[temp_columns].to_dict(orient='records')
    val_dicts = df_val[temp_columns].to_dict(orient='records')
    X_train = dv.fit_transform(train_dicts)
    X_val = dv.fit_transform(val_dicts)
    model = LogisticRegression(solver="liblinear", C=1.0, max_iter=1000, random_state=42)
    model.fit(X_train, above_average_train)
    y_pred = model.predict(X_val)
    print("Removing column: ", column, " Accuracy: ", (y_pred == above_average_val).mean())

Removing column:  latitude  Accuracy:  0.8347868217054264
Removing column:  longitude  Accuracy:  0.8345445736434108
Removing column:  housing_median_age  Accuracy:  0.8304263565891473
Removing column:  total_rooms  Accuracy:  0.8374515503875969
Removing column:  total_bedrooms  Accuracy:  0.8372093023255814
Removing column:  population  Accuracy:  0.8204941860465116
Removing column:  households  Accuracy:  0.8321220930232558
Removing column:  median_income  Accuracy:  0.7839147286821705
Removing column:  ocean_proximity  Accuracy:  0.8180717054263565

### Answer:  total_rooms

# Question 6

In [95]:
from sklearn.linear_model import Ridge
from sklearn.metrics import mean_squared_error

In [94]:
y_train_log = np.log(y_train)
y_val_log = np.log(y_val)
y_test_log = np.log(y_test)

In [108]:
alpha_values = [0, 0.01, 0.1, 1, 10]
for a in alpha_values:
    model = Ridge(alpha=a, solver="sag", random_state=42)
    train_dicts = df_train[columns].to_dict(orient='records')
    val_dicts = df_val[columns].to_dict(orient='records')
    X_train = dv.fit_transform(train_dicts)
    X_val = dv.fit_transform(val_dicts)
    model.fit(X_train, y_train_log)
    y_pred = model.predict(X_val)
    rmse = round(np.sqrt(mean_squared_error(y_val_log, y_pred)), 3)
    print("Alpha: ", a, " RMSE: ", rmse)

Alpha:  0  RMSE:  0.525
Alpha:  0.01  RMSE:  0.525
Alpha:  0.1  RMSE:  0.525
Alpha:  1  RMSE:  0.525
Alpha:  10  RMSE:  0.525

### Answer: 1